* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

:root {
    --dark1: #27374D;
    --dark2: #526D82;
    --light1: #DDE6ED;
    --light2: #9DB2BF;
    --green: #519872;
}

body {
    background-color: var(--dark1);
    color: var(--light1);
}

/* Boot CSS */

.center {
    display: flex;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 0 5%;
    margin: 0 auto;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}

h2, h3 {
    font-weight: 300;
}

p, li {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

/* website styles */

/* home page */

header {
    height: 70px;
    background-color: var(--dark1);
}

header .center {
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 18px;
    font-weight: 300;
}

header .logo a {
    color: #fff;
    text-decoration: none;
}

.mobile {
    display: none;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    height: 100%;
    list-style: none;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    padding: 0 30px;
    transition: .2s;
}

nav ul li a:hover {
    background-color: #00000055;
}

.menu-toggle {
    display: none;
    width: 25px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s;
}

.menu-toggle span {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--light2);
    transition: .3s;
}

.menu-toggle.active span:nth-child(1) {
    top: 9px;
    transform: rotate(-135deg);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    top: -9px;
    transform: rotate(-225deg);
}

nav.mobile {
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--dark2);
    height: 300px;
}

nav.mobile ul {
    flex-direction: column;
}


section.banner {
    height: calc(100vh - 70px);
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
}

section.banner .center {
    align-items: center;
    justify-content: center;
}

section.banner .opacity {
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}

section.banner form {
    position: relative;
    z-index: 2;
}

section.banner form h2 {
    font-size: 24px;
    text-align: center;
}

section.banner form input {
    width: 400px;
    height: 40px;
    background-color: var(--dark1);
    color: var(--light1);
    border: 1px solid var(--dark1);
    border-radius: 2px;
    outline: none;
    padding: 0 10px;
}

section.banner form input[type="email"] {
    margin: 20px 0;
}

section.banner form input[type="submit"] {
    background-color: var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
}


section.about {
    padding: 50px 0;
}

section.about p {
    margin-top: 30px;
}

section.about .image {
    display: flex;
    justify-content: flex-end;
}

img.me {
    max-height: 400px;
}


section.expertise {
    background-color: var(--dark2);
    padding: 50px 0;
}

section.expertise .center {
    flex-direction: column;
}

section.expertise .title {
    text-align: center;
    margin-bottom: 30px
}

section.expertise .boxes {
    display: flex;
}

section.expertise .box {
    text-align: center;
}

section.expertise .box:nth-child(2) {
    padding: 0 50px;
}

img.logo {
    height: 50px;
    opacity: .5;
    transition: .2s;
}

img.logo:hover {
    opacity: 1;
}

section.expertise .box h3 {
    margin: 10px 0;
}


section.services {
    padding: 50px 0;
}

section.services .comment,
section.services .services-list li {
    margin-top: 30px;
}

section.services .comment .client {
    margin-top: 10px;
    font-weight: 400;
}

section.services .w50:first-child {
    padding-right: 5%;
}
section.services .w50:last-child {
    padding-left: 5%;
}


footer {
    height: 70px;
    background-color: var(--light2);
    color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 400;
}

/* contact page */

#map {
    width: 100%;
    height: 400px;
}

section.contact {
    min-height: calc(100vh - 70px - 70px);
    border-top: 1px solid var(--dark2);
    padding: 50px 0;
}

section.contact .center {
    flex-direction: column;
}

section.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.contact form input,
section.contact form textarea {
    width: 100%;
    border: 1px solid var(--dark1);
    background-color: var(--dark2);
    outline: none;
    color: var(--light1);
    padding: 10px;
    margin-bottom: 10px;
}

section.contact form input::placeholder,
section.contact form textarea::placeholder {
    color: #DDE6EDaa;
}

section.contact form textarea {
    resize: none;
    height: 100px;
}

section.contact form input[type="submit"] {
    width: 50%;
    max-width: 300px;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}

section.contact form input[type="submit"]:hover {
    background-color: #526D82aa;
}

/* 404 error page */

section.error-404 {
    min-height: calc(100vh - 70px - 70px);
    border-top: 1px solid var(--dark2);
    padding: 50px 0;
}

section.error-404 .center {
    flex-direction: column;
}

section.error-404 p {
    margin-top: 10px;
}

section.error-404 a {
    color: var(--light1);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
}

/* responsiveness */

@media only screen and (max-width: 1000px) {
    .w50 {
        width: 100%;
    }

    section.about .center,
    section.services .center {
        flex-direction: column;
    }

    section.about .image {
        justify-content: center;
        margin-top: 30px;
    }

    section.services .w50 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    section.services .w50:first-child {
        margin-bottom: 50px;
    }

    .w33 {
        width: 100%;
    }

    section.expertise .boxes {
        flex-direction: column;
    }

    section.expertise .boxes .box:nth-child(2) {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 860px) {
    header nav.desktop {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}

@media only screen and (max-width: 450px) {
    section.banner form {
        width: 95%;
    }

    section.banner form h2 {
        font-size: 20px;
    }

    section.banner form input {
        width: 100%;
    }

    img.me {
        max-height: 300px;
    }
}